.navbar-fixed-top {
    margin-bottom: 19px;
}
.navbar-inner{
    max-width: 1048px;
    margin: 0 auto;
}
.search-beer {
    padding-top: 10px;
}
body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.beer_box {
    margin-bottom: 20px;
    border-color: darkgray;
    border-bottom-style: solid;
    border-width: 1px;
    height: 120px;
}

.beer_box .beer_logo {
    display: block;
    margin: 5px auto;
    border-style: solid;
    border-width: 2px;
    border-color: #808080;
    border-radius: 15px;
}

.beer_box .text_box {
    margin-top: 5px;
}

.paginationButton {
    margin: 0 auto;
}