.search-results{
    max-width: 1048px;
    margin: 0 auto;
}
.beer-result{
    margin: auto;
    width: 400px;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.beer-result img{
    float: left;
    padding: 10px;
}
