html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #222;
  padding-top: 20px;
}
.footer-inner{
  max-width: 1048px;
  margin: 0 auto;
}
.footer-inner li{
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
    color: #FFFFFF;
}