<div class="row beer_box _beer_box{{ beer.untappdId }}">
    <div class="col-md-4 logo_box">
        <img src={{ beer.imgUrl }} height=90px width=90px class="beer_logo">
    </div>
    <div class="col-md-8 text_box">
        <p>
            <strong>{{ beer.name }}</strong><br>
            {{ beer.breweryName }}<br>
            {{ beer.style }} - {{ beer.abv }}% ABV<br>
            {% if stock %}
                {{ stock.amountInStock }} in fridge<br>
                <button type="button" class="btn btn-default _updateButton" value="{{ beer.untappdId}}">Update Current Stock</button>
                <button type="button" class="btn btn-default _checkoutButton" value="{{ beer.untappdId}}">Checkout Beer</button>
            {% elif history %}
                {{ history.timestamp | date:"Y/m/d - G:i" }}
            {% else %}
                <button type="button" class="btn btn-default _updateButton" value="{{ beer.untappdId}}">Update Current Stock</button>
            {% endif %}

        </p>
    </div>
</div>