<head>
<title>BeerStock - Beer Search Results</title>
</head>
{% include "layouts/toolbar.html" %}
<body>
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-6">
        <div class="row">
            {% if beer_list %}
                {% for beer in beer_list %}
                    {% include "beers/beer_details.html" with beer=beer %}
                {% endfor %}
            {% else %}
                    <p>No results available.</p>
            {% endif %}
            </div>
        </div>
    </div>
</body>