<head>
<title>BeerStock - Beer Search Results</title>
</head>
{% include "layouts/toolbar.html" %}

<div class="search-results">
    <form method="post">
		{% csrf_token %}
		<p align="center"><input type="text" name="beername"></p>
		<p align="center"><input type="submit" value="Add beer!"></p>
	</form>
	{% if beer_list %}
		{% for beer in beer_list %}
            <div class="beer-{{ beer.untappdId }} beer-result">
                <img src={{ beer.imgUrl }} height=90px width=90px>
                <p>
                    <a href="/beers/update_beer/{{ beer.untappdId }}"><strong>{{ beer.name }}</strong></a><br>
                    {{ beer.breweryName }}<br>
                    {{ beer.style }} - {{ beer.abv }}% ABV
                </p>
            </div>
		{% endfor %}
		</table>
	{% else %}
		<p>No results available.</p>
	{% endif %}
</div>