<head>
<title>BeerStock - Beer Type Information</title>
</head>

<body bgcolor="silver">
	{% include "beers/toolbar.html" %}
	{% if beer_type %}
		<p align="center"><b>Name: </b>{{ beer_type.name }}</p>
		{% if beer_list %}
			<table border="1" align="center" id='table'>
				<thead>
					<td><b>Name</b></td>
					<td><b>Brewery</b></td>
					<td><b>Type</b></td>
				</thead>
			{% for beer in beer_list %}
				<tr>
					<td><a href="/beers/beer_info/{{ beer.name }}/">{{ beer.name }}</a></td>
					<td><a href="/beers/brewery_info/{{ beer.brewery }}/">{{ beer.brewery__name }}</a></td>
					<td><a href="/beers/beer_type_info/{{ beer.beerType }}/">{{ beer.beerType__name }}</a></td>
				</tr>
			{% endfor %}
		{% else %}
			<p align="center">Failed to get beer list.</p>
		{% endif %}
	{% else %}
		<p align="center">No beer type information available available.</p>
	{% endif %}
</body>