<head>
<title>BeerStock - Beer Search Results</title>
</head>
{% include "layouts/toolbar.html" %}
<body>
    <div class="container">
        <div class="col-md-2"></div>
        <div class="col-md-6">
        <div class="row">
            {% if beer_list %}
                {% for beer in beer_list %}
                    <div class="row">
                        <div class="col-md-4">
                            <img src={{ beer.imgUrl }} height=90px width=90px class="beer-logo">
                        </div>
                        <div class="col-md-8">
                            <p>
                                <a href="/beers/update_beer/{{ beer.untappdId }}"><strong>{{ beer.name }}</strong></a><br>
                                {{ beer.breweryName }}<br>
                                {{ beer.style }} - {{ beer.abv }}% ABV
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                    <p>No results available.</p>
            {% endif %}
            </div>
        </div>
    </div>
</body>