<head>
<title>BeerStock - Beer Information</title>
</head>

<body bgcolor="silver">
	{% include "beers/toolbar.html" %}
	{% if beer %}
		<p align="center"><b>Name: </b>{{ beer.name }}</p>
		<p align="center"><b>Brewery: </b>{{ beer.brewery }}</p>
		<p align="center"><b>Beer Type: </b>{{ beer.beerType }}</p>
		{% if beer.amountConsumed == 0 and beer.amountInFridge == 0	%}
			<p align="center">You've never had this beer before. Perhaps you should try it.</p>
		{% else %}
			<p align="center"><b>History: </b>{{ beer.amountConsumed }}</p>
			<p align="center"><b>Stock: </b>{{ beer.amountInFridge }}</p>
		{% endif %}
		{% if beer.amountInFridge > 0 %}
			<form method="post">
				{% csrf_token %}
				<p align="center"><input type="submit" value="Check out beer!"></p>
			</form>
		{% endif %}
	{% else %}
		<p align="center">No beer available.</p>
	{% endif %}
</body>