<head>
<title>BeerStock - Brewery Information</title>
</head>

<body bgcolor="silver">
	{% include "beers/toolbar.html" %}
	{% if brewery %}
		<p align="center"><b>Name: </b>{{ brewery.name }}</p>
		<p align="center"><b>Location: </b>{{ brewery.location }}</p>
		{% if beer_list %}
			<table border="1" align="center" id='table'>
				<thead>
					<td><b>Name</b></td>
					<td><b>Brewery</b></td>
					<td><b>Type</b></td>
				</thead>
			{% for beer in beer_list %}
				<tr>
					<td><a href="/beers/beer_info/{{ beer.name }}/">{{ beer.name }}</a></td>
					<td><a href="/beers/brewery_info/{{ beer.brewery__name }}/">{{ beer.brewery__name }}</a></td>
					<td><a href="/beers/beer_type_info/{{ beer.beerType__name }}/">{{ beer.beerType__name }}</a></td>
				</tr>
			{% endfor %}
			</table>
		{% else %}
			<p align="center">Failed to get beer list.</p>
		{% endif %}
	{% else %}
		<p>No brewery available.</p>
	{% endif %}
</body>