<head>
<title>BeerStock - Fridge Stock</title>
</head>
{% include "layouts/toolbar.html" %}

<body>
    <div class="container _beerHistory">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            {% if all_data_list %}
                {% for key, entry in all_data_list.items %}
                    {% include "beers/beer_details.html" with beer=entry.beer history=entry.history %}
	            {% endfor %}
            {% else %}
	            <p align="center">No beers are available.</p>
            {% endif %}
            <div class="text-center _moreHistory">
                <button type="button" class="btn btn-default btn-lg _moreHistoryButton" value="1">
                    More History
                </button>
            </div>
        </div>

    </div>
</body>