{% if beer %}
    <form method="post" action="/beers/checkout_beer/{{ beer.untappdId }}/">
        {% csrf_token %}
        <div class="row text-center">
            <img src={{ beer.imgUrl }}>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <b>Name: </b>
            </div>
            <div class="col-md-6 text-left">
                {{ beer.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <b>Brewery: </b>
            </div>
            <div class="col-md-6 text-left">
                {{ beer.breweryName }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <b>Style: </b>
            </div>
            <div class="col-md-6 text-left">
                {{ beer.style }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <b>ABV: </b>
            </div>
            <div class="col-md-6 text-left">
                {{ beer.abv }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <b>History: </b>
            </div>
            <div class="col-md-6 text-left">
                {{ stock.amountDrank }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <b>Stock: </b>
            </div>
            <div class="col-md-6 text-left">
                {{ stock.amountInStock }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <br><input type="checkbox" name="untappdCheckout" value="untappdCheckout"> Also checkout on Untappd<br>
                Rating
                <select name="untappdRating" value="untappdCheckout">
                    <option value="0">No Rating</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select><br><br>
            </div>
        </div>
    </form>
{% else %}
    No beer available.
{% endif %}
