{% if beer %}
    <form method="post" action="/beers/update_beer/{{ beer.untappdId }}/">
        {% csrf_token %}
        <div class="row text-center">
            <img src={{ beer.imgUrl }}>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <b>Name: </b>
            </div>
            <div class="col-md-6 text-left">
                {{ beer.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <b>Brewery: </b>
            </div>
            <div class="col-md-6 text-left">
                {{ beer.breweryName }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <b>Style: </b>
            </div>
            <div class="col-md-6 text-left">
                {{ beer.style }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <b>ABV: </b>
            </div>
            <div class="col-md-6 text-left">
                {{ beer.abv }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <b>History: </b>
            </div>
            <div class="col-md-1 text-left">
                <span class="_history">{{ stock.amountDrank }}</span><input type="hidden" value={{ stock.amountDrank }} name='history' class="_historyInput"><br>
            </div>
            <div class="col-md-2 text-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm _updateHistoryMore">
                      <span class="glyphicon glyphicon-arrow-up"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm _updateHistoryLess">
                      <span class="glyphicon glyphicon-arrow-down"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <b>Stock: </b>
            </div>
            <div class="col-md-1 text-left">
                <span class="_stock">{{ stock.amountInStock }}</span><input type="hidden" value={{ stock.amountInStock }} name='stock' class="_stockInput">
            </div>
            <div class="col-md-2 text-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm _updateStockMore">
                      <span class="glyphicon glyphicon-arrow-up"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-sm _updateStockLess">
                      <span class="glyphicon glyphicon-arrow-down"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
{% else %}
    No beer available.
{% endif %}
