{% if beer %}
    <form method="post" action="/beers/update_beer/{{ beer.untappdId }}/">
        {% csrf_token %}
        <div class="row text-center">
            <img src={{ beer.imgUrl }}>
        </div>
        <div class="row">
            <div class="col-md-4 text-right">
                <b>Name: </b><br>
                <b>Brewery: </b><br>
                <b>Style: </b><br>
                <b>ABV: </b><br>
                <b>History: </b><br>
                <b>Stock: </b>
            </div>
            <div class="col-md-4 text-left">
                {{ beer.name }}<br>
                {{ beer.breweryName }}<br>
                {{ beer.style }}<br>
                {{ beer.abv }}<br>
                <input type="number" value={{ stock.amountDrank }} name='history'><br>
                <input type="number" value={{ stock.amountInStock }} name='stock'>
            </div>
        </div>
    </form>
{% else %}
    No beer available.
{% endif %}
